<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjw.mapper.HistroryRJMapper">

    <resultMap id="HistroyMap" type="cn.sjw.pojo.HistroyRJxxDTO">
        <id property="id"  column="id"/>
        <result property="appid" column="appid"/>
        <result property="appName" column="appName"/>
        <result property="APKName" column="APKname"/>
        <result property="bbH" column="bbH"/>
        <result property="appDetail" column="appDetail"/>
        <result property="LuJin" column="luJin"/>
        <result property="appSize" column="appSize"/>
        <association property="user" javaType="cn.sjw.pojo.User">
            <id property="id" column="id"/>
            <result property="userName" column="zhuantai"/>
        </association>
        <association property="zhuanTai2" javaType="cn.sjw.pojo.ZhuanTai2">
            <id property="id" column="id"/>
            <result property="tai1Id" column="zhuantai"/>
            <result property="tai2" column="Zhuantai"/>
        </association>


    </resultMap>

<!--&lt;!&ndash;    查询软件历史版本信息  &ndash;&gt;-->
<!--<select id="queryHistrory" resultMap="HistroyMap">-->
<!--SELECT id,appid,appName,`APKName`,`appSize`,-->
<!--(-->
<!--	SELECT `userNamee`-->
<!--	FROM  `user`-->
<!--	WHERE   histroyrj.kaifazId=user.id-->
<!--)AS kaifaze,(-->
<!--	SELECT `tai2`-->
<!--	FROM  `zhuantai2`-->
<!--	WHERE histroyrj.zhantai=zhuantai2.tai1Id-->
<!--)AS Zhuantai,`bbH`,`appDetail`,`LuJin`-->
<!--FROM  `histroyrj`;-->

<!--</select>-->
    <!--   根据  Appid 查询软件历史版本信息  -->
<select id="selectHistrory" resultMap="HistroyMap">
SELECT id,appid,appName,`APKName`,`appSize`,
(
	SELECT `userNamee`
	FROM  `user`
	WHERE   histroyrj.kaifazId=user.id
)AS kaifaze,(
	SELECT `tai2`
	FROM  `zhuantai2`
	WHERE histroyrj.zhantai=zhuantai2.tai1Id
)AS zhuantai,`bbH`,`appDetail`,`LuJin`
FROM  `histroyrj`;
WHERE  appid=#{appid}
    </select>
</mapper>