<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjw.mapper.HistroryRJMapper">

    <resultMap id="HistroyMap" type="cn.sjw.pojo.HistroyRJxxDTO">
        <id property="id" column="id"/>
        <result property="appid" column="appid"/>
        <result property="appName" column="appName"/>
        <result property="APKName" column="APKname"/>
        <result property="bbH" column="bbH"/>
        <result property="appDetail" column="appDetail"/>
        <result property="LuJin" column="LuJin"/>
        <result property="appSize" column="appSize"/>
        <association property="user" javaType="cn.sjw.pojo.User">
            <id property="id" column="id"/>
            <result property="userName" column="kaifaze"/>
        </association>
        <association property="zhuanTai2" javaType="cn.sjw.pojo.ZhuanTai2">
            <id property="id" column="id"/>
            <result property="tai2" column="Zhuantai"/>
        </association>


    </resultMap>

    <select id="selectHistrory" parameterType="int" resultMap="HistroyMap">
        SELECT h.id id,
        h.appid appid,
        h.appName appName,
        h.APKName APKName,
        h.appSize appSize,
        u.`userName` kaifaze,
        z.tai2 zhuantai,
        h.bbH bbH,
        h.appDetail appDetail,
        h.LuJin LuJin
        FROM `histroyrj` h,`user` u ,`zhuantai2` z
        WHERE
         h.kaifazId=u.id
        AND h.zhantai=z.tai1Id
        AND h.zhantai=z.tai1Id
        AND h.appid=#{appid}
    </select>
</mapper>