<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sjw.mapper.UserMapper">
    <insert id="addUser" parameterType="User">
        insert into user(uname,pwd,email,birthday,pic,sex,phone)
        values(#{uName},#{pwd},#{email},#{birthday},#{pic},#{sex},#{phone})
    </insert>

</mapper>